<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Conditional Rendering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Conditional Rendering</h1>
    </header>
    <section id="app">
      <input
        type="text"
        placeholder="Write your goals"
        @keydown.enter="addGoals"
        v-model="goal"
      />
      <button @click="addGoals">ADD Goals</button>
      <p v-if="goals.length === 0">No Goals</p>
      <ul v-else>
        <li
          v-for="(goal, index) in goals"
          @click="removeGoal(index)"
          :key="goal"
        >
          {{goal}}
        </li>
      </ul>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
